{% extends "bootstrap/base.html" %}

{% block title %}Логин{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form method="POST" action="/login">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" type="text" name='login' placeholder="Enter login"/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" type="password" name='password' placeholder="Enter password"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-default btn-block">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/login.css') }}">
{% endblock %}
