{% extends "bootstrap/base.html" %}

{% block title %}Настройки{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

    <div class="form-group row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-5">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                <label for="status">Статус:</label>
                    <select class="form-control" id="status" name="status">
                        <option selected value="VIP">VIP</option>
                        <option value="PREMIUM">PREMIUM</option>
                        <option value="DEFAULT">DEFAULT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="mess">Текст для рассылки:</label>
                    <textarea name="message" id="mess" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-danger btn-lg pull-right">Разослать</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}


{% block scripts %}
    <script>
        task_button = document.getElementById('new-task')
        task_button.onclick = function() {
            window.location.href = "/task";
            return false;
        }
    </script>

    {{super()}}
{% endblock %}
