<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/languages">Языки</a></li>
        <li><a href="/texts">Тексты</a></li>
        <li><a href="/">Настройки</a></li>
        <li><a href="/users">Пользователи</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
    </ul>
</nav>
