{% extends "bootstrap/base.html" %}

{% block title %}Настройки{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <button type="button" id="create" class="btn btn-danger">Добавить новый текст</button>

    <form method="POST" enctype="multipart/form-data" class="form-horizontal">
        <input type="hidden" name="act" value="showSignals">
        <input type="hidden" name="p" value={{ p }}>

        <div class="table-responsive">
            <table class="table table-hover" align="center">
                <thead>
                    <tr>
                        <th>Тег</th>
                        <th>Значение (на деф. языке)</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row.tag }}</td>
                            <td>{{ row.values.get('rus') }}</td>
                            <td><a href="text/edit/{{ row.id }}">Редактировать</a></td>
                            <td><a href="text/del/{{ row.id }}">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <nav aria-label="...">
        <ul class="pager">
            Страница {{ p }}/{{ p_all }} <br>
            <li class="{% if p <= 1 %}disabled{% endif %}">
                <a href="{% if p > 1 %}?p={{ p - 1 }}{% endif %}">Назад</a>
            </li>
            <li class="{% if p >= p_all %}disabled{% endif %}">
                <a href="{% if p < p_all %}?p={{ p + 1 }}{% endif %}">Вперед</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function switchCheckbox(node) {
            status = node.checked;
            els = document.getElementsByTagName("input");
            for( i in els ) {
                if(els[i].name != "del[]") continue;
                els[i].checked = status ? true : false;
                console.log(els[i].checked);
            }
        }
    </script>

    <script>
        task_button = document.getElementById('new-task')
        task_button.onclick = function() {
            window.location.href = "/task";
            return false;
        }
    </script>

    <script>
        task_button = document.getElementById('create')
        task_button.onclick = function() {
            window.location.href = "/text";
            return false;
        }
    </script>

    {{super()}}
{% endblock %}
