{% extends "bootstrap/base.html" %}

{% block title %}Пользователи{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="form-horizontal" action="/user/find">
        <div class="panel panel-primary">
            <div class="panel-heading">Поиск</div>
            <div class="panel-body">
                <label for="user_id">User ID:</label>
                <input class="form-control" name="user_id" id="user_id" type="text" value="">
            </div>
        </div>
        <button type="submit" class="btn btn-danger btn-lg pull-left">Поиск</button>
    </form>
<br><br>
&nbsp;&nbsp;<p>&nbsp;&nbsp;&nbsp;Всего пользователей: {{ u_all }}</p>
    <form method="POST" enctype="multipart/form-data" class="form-horizontal">
{#        <div class="form-group">#}
{#            <div class="col-sm-offset-10 col-sm-10">#}
{#                <button type="submit" name="submit" class="btn btn-default">Удалить выбранные</button>#}
{#            </div>#}
{#        </div>#}
        <input type="hidden" name="act" value="showSignals">
        <input type="hidden" name="p" value={{ p }}>

        <div class="table-responsive">
            <table class="table table-hover" align="center">
                <thead>
                    <tr>
{#                        <th><input type="checkbox" onchange="switchCheckbox(this);" id="check_all"></th>#}
                        <th>Id Пользователя</th>
                        <th>User Name</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Баланс</th>
                        <th>Статус</th>
                        <th>Дата истечения подписки</th>
                        <th>Просмотр/Редактирование</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row.user_id }}</td>
                            <td>{{ row.username }}</td>
                            <td>{{ row.first_name }}</td>
                            <td>{{ row.last_name }}</td>
                            <td>{{ row.balance }}</td>
                            <td>{{ row.status }}</td>
                            <td>{{ row.last_subscription_date }}</td>
                            <td><a href="user/edit/{{ row.id }}">Просмотр/Редактирование</a></td>
                            <td><a href="/user/del/{{ row.id }}">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{#        <div class="form-group">#}
{#            <div class="col-sm-offset-10 col-sm-10">#}
{#                <button type="submit" name="submit" class="btn btn-default">Удалить выбранные</button>#}
{#            </div>#}
{#        </div>#}
    </form>

    <nav aria-label="...">
        <ul class="pager">
            Страница {{ p }}/{{ p_all }} <br>
            <li class="{% if p <= 1 %}disabled{% endif %}">
                <a href="{% if p > 1 %}/users?p={{ p - 1 }}{% endif %}">Назад</a>
            </li>
            <li class="{% if p >= p_all %}disabled{% endif %}">
                <a href="{% if p < p_all %}/users?p={{ p + 1 }}{% endif %}">Вперед</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function switchCheckbox(node) {
            status = node.checked;
            els = document.getElementsByTagName("input");
            for( i in els ) {
                if(els[i].name != "del[]") continue;
                els[i].checked = status ? true : false;
                console.log(els[i].checked);
            }
        }
    </script>

    <script>
        task_button = document.getElementById('new-task')
        task_button.onclick = function() {
            window.location.href = "/task";
            return false;
        }
    </script>

    {{super()}}
{% endblock %}
